* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.pai {
  width: 50rem;
  height: 100vh;
  background: aqua;
}

.pai > div {
  width: 50%;
  height: 50rem;
  background: rgb(12, 71, 71);
}

p {
  font-size: 2vmax;
}
