body {
  background: black;
}
/* . is for classes */
.green-heading {
  color: rgb(102, 104, 216);
}

/* # is for ID */
#welcome {
background: rgb(241, 241, 241);
}

#welcome, #about {
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 5px;
}

/* nested selectors */
#welcome p {
  font-size: 20px;
}

#about {
  color: yellow;
  background: gray;
}